footer {
  margin-top: 400px;
}
@media (max-width: 320px) {
  .container {
    padding-right: 0;
    padding-left: 0;
  }
}
.nav > li > a {
  padding: 5px 8px;
}

.face.icon {
  width: 38px;
}
.face {
  width: 76px;
}
.face.select {
  cursor: pointer;
}

.scenario {
  width: 320px;
  background: black url(images/11002c9b1d8.png) repeat-y;
  background-size: 320px 5px;
  margin: 1em 0;
}
.paragraph {
  width: 320px;
  height: 84px;
  position: relative;
}
.paragraph * {
  margin: 0; padding: 0;
  border: none;
}
.paragraph .face, .fukidashi {
  top: 4px;
}
.paragraph .face {
  position: absolute;
  left: 5px;
  width: 76px;
}
.fukidashi {
  position: absolute;
  right: 9px;
  background: url(images/11006e59e67.png) no-repeat;
  background-size: 224px 76px;
  width: 224px;
  height: 76px;
}
.fukidashi .name, .fukidashi .serifu {
  font: bold 14px/17.5px "Arial", sans-serif;
  color: black;
  background-color: white;
}
.fukidashi .name {
  position: absolute;
  top: 4px;
  left: 5px;
  color: #f33281;
}
.fukidashi .serifu {
  position: absolute;
  top: 19px;
  left: 5px;
  width: 214px;
  white-space: pre-wrap;
}

textarea {
  max-width: 320px;
}

.nowloading {
  text-align: center;
}
